{% extends 'chat/index.html' %}
{% block style %}
  <style>
    #chat-body, .form-chat {
      width: 600px;
      margin: 0 auto;
    }

    #chat-body {
      background: #ebf1f7;
      padding: 10px;
      height: 500px;
      overflow-y: auto;
      border-radius: 5px;
    }

    .message {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
    }

    .message-out .username {
      margin-bottom: 0px;
      margin-left: 20px;
    }

    .message .username {
      margin-bottom: 0px;
      margin-right: 20px;
    }

    .message-inner {
      max-width: 100%;
      min-width: 0;
      flex: 1;
    }

    .message-content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      align-items: center;
    }

    .message-text {
      background: #f6f9fb;
      border-radius: 0.6rem;
      padding: 1rem 1.25rem;
      color: #95aac9;
      font-size: 13px;
    }

    .message-content:not(:last-child) .message-text {
      border-bottom-left-radius: 0.25rem;
    }

    .message.message-out {
      flex-direction: row-reverse;
    }

    .message-out .message-content {
      flex-direction: row-reverse;
    }
  </style>
 {% endblock %}
{% block title %}Welcome | {% endblock %}
{% block content %}
<div class="container">
  <div class="hide-scrollbar flex-1 mb-3" id="chat-body">
    <div class="chat-body-inner">
      {% for m in messages %}
        <div class="message {% if m.engagement.name != 'Machine'%} message-out {%endif%}">
          <p class="username">{{ m.engagement.name|default:'System' }}</p>
          <div class="message-inner">
            <div class="message-body">
              <div class="message-content">
                <div class="message-text">
                  <p class="mb-0">{{ m.content }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="form-chat">
    <div class="input-group mb-3">
      <textarea id="chat-message-input" class="form-control p-2" placeholder="Type your message..."></textarea>
    </div>
    <input type="button" class="btn btn-primary " value="Send" id="chat-message-submit"></input>
    <input
      type="hidden"
      value="{{engagement_id|default:''}}"
      id="chat-engagement-input"
    />
  </div>
</div>
{{ room.uuid|json_script:"room_id" }} {% endblock %} {% block script %}
<script>
  const roomId = JSON.parse(document.getElementById('room_id').textContent);

  const messageBox = (engagement_name, message) => {
    return `
      <div class="message d-flex ${engagement_name != 'Machine' ? 'message-out' : ''}">
        <p class="username">${engagement_name || 'System'}</p>
        <div class="message-inner">
          <div class="message-body">
            <div class="message-content">
              <div class="message-text">
                <p class="mb-0">${message }</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    `
  }

  const yesNoQuestionBox = (engagement_name, message) => {
    return `
      <div class="message d-flex ${engagement_name != 'Machine' ? 'message-out' : ''}">
        <p class="username">${engagement_name || 'System'}</p>
        <div class="message-inner">
          <div class="message-body">
            <div class="message-content">
              <div class="message-text">
                <p class="mb-0">${message }</p>
                <div class="d-flex pt-4">
                  <input
                    type="button"
                    class="btn btn-primary"
                    value="Accept"
                    id="accept"
                  ></input>
                  <input
                    type="button"
                    class="btn btn-danger mx-2"
                    value="Denial"
                    id="denial"
                  ></input>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    `
  }

  const chatSocket = new WebSocket(
    `ws://${window.location.host}/ws/chat/${roomId}/`
  );

  scrollToBottom();

  chatSocket.onmessage = function (e) {
    const data = JSON.parse(e.data);
    if (data.message) {
      if (data.entity === 'yes_no') {
        document.querySelector('#chat-body').innerHTML += yesNoQuestionBox(
          data.engagement_name,
          data.message
        );
      }

      if (data.entity === 'text') {
        document.querySelector('#chat-body').innerHTML += messageBox(
          data.engagement_name,
          data.message
        );
      }

      scrollToBottom();
    } else {
      alert('The message was empty!');
    }
  };

  chatSocket.onclose = function (e) {
    console.error('Chat socket closed unexpectedly');
  };

  document.querySelector('#chat-message-input').focus();
  document.querySelector('#chat-message-input').onkeyup = function (e) {
    if (e.keyCode === 13) {
      document.querySelector('#chat-message-submit').click();
    }
  };

  document.querySelector('#chat-message-submit').onclick = function (e) {
    const messageInputDom = document.querySelector('#chat-message-input');
    const engagementInputDom = document.querySelector('#chat-engagement-input');
    const message = messageInputDom.value;
    const engagementId = engagementInputDom.value;

    chatSocket.send(
      JSON.stringify({
        message: message,
        room_id: roomId,
        engagement_id: engagementId,
      })
    );
    messageInputDom.value = '';
  };

  function scrollToBottom() {
    let objDiv = document.getElementById("chat-body");
    objDiv.scrollTo({top: objDiv.scrollHeight, behavior: 'smooth'});
  }
</script>
{% endblock %}
