{% extends 'chat/index.html' %}

{% block title %}Welcome | {% endblock %}

{% block content %}
<div class="container">
  <div class="hide-scrollbar flex-1 mb-3" id="chat-body">
    <div class="chat-body-inner">
      {% for m in messages %}
        <div class="message {% if m.engagement.name != 'Machine'%} message-out {%endif%}">
          <p class="username">{{ m.engagement.name }}</p>
          <div class="message-inner">
            <div class="message-body">
              <div class="message-content">
                <div class="message-text">
                  {% if m.entity == "yes-no" %}
                    {% if not m.answer %}
                      <p class="mb-0 text-capitalize">{{ m.content }}</p>
                      <div class="pt-4 position-relative" id="{{m.id}}">
                        <input
                          type="radio"
                          class="btn-check"
                          id="{{m.id}}-yes"
                          name="yes-no"
                          value="yes"
                          onchange="answerYesNo({{m.id}}, 'yes', {{m.entity}})"
                        >
                        <label class="btn btn-primary" for="{{m.id}}-yes">Yes</label>
                
                        <input
                          type="radio"
                          class="btn-check"
                          id="{{m.id}}-no"
                          name="yes-no"
                          value="no"
                          onchange="answerYesNo({{m.id}}, 'no', {{m.entity}})"
                        >
                        <label class="btn mx-2 btn-danger" for="{{m.id}}-no">No</label>
                      </div>
                    {% else %}
                      <p class="mb-0 text-capitalize">{{ m.content }}</p>
                    {% endif %}
                  {% endif %}

                  {% if m.entity == "date-time" %}
                    {% if not m.answer %}
                      <p class="mb-0 text-capitalize">{{ m.content }}</p>
                      <div class='date position-relative' id="{{m.id}}">
                        <div class="pt-3 d-flex flex-column">
                          <!-- time -->
                          <input
                            class="form-control"
                            type="datetime-local"
                            id="{{m.id}}-time"
                            name="date-time"
                            onkeydown="return false;"
                          >
                          <small id="datetime-help">Choose A Date and Time.</small>
                        </div>
                      </div>
                    {% else %}
                      <p class="mb-0 text-capitalize">{{ m.content }}</p>
                    {% endif %}
                  {% endif %}

                  {% if m.entity == "learn-more" %}
                    {% if m.system_message %}
                      <p class="mb-0 text-capitalize">{{ m.content }}</p>
                      <div class='date position-relative' id="{{m.id}}">
                        <div class="pt-3 d-flex topics flex-column align-items-start">
                          {% for item in learn_more_options %}
                            {% if item.id not in m.answer %}
                              <input
                                type="checkbox"
                                class="btn-check"
                                id="{{m.id}}-{{item.id}}"
                                name="learn-more"
                                value="{{item.id}}"
                              >
                              <label
                                class="btn btn-primary topics-label my-1"
                                for="{{m.id}}-{{item.id}}"
                              >
                                <i class="bi bi-check-circle"></i>
                                <span class="ms-2">
                                  {{item.title}}
                                </span>
                              </label>
                            {% endif %}
                          {% endfor %}
                        </div>
                      </div>
                    {% else %}
                      <div class='date position-relative' id="{{m.id}}">
                        <div class="d-flex topics flex-column align-items-start">
                          {% for item in learn_more_options %}
                            {% if item.id == m.content %}
                              <input
                                type="checkbox"
                                class="btn-check"
                                id="{{m.id}}-{{item.id}}"
                                name="learn-more"
                                value="{{item.id}}"
                              >
                              <label
                                class="btn btn-outline-primary topics-label my-1"
                                for="{{m.id}}-{{item.id}}"
                              >
                                <i class="bi bi-check-circle"></i>
                                <span class="ms-2">
                                  {{item.title}}
                                </span>
                              </label>
                            {% endif %}
                          {% endfor %}
                        </div>
                      </div>
                    {% endif %}
                  {% endif %}

                  {% if m.entity == "text" %}
                    <p class="mb-1 text-content">{{ m.content }}</p>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="form-chat">
    <div class="input-group mb-3">
      <textarea id="chat-message-input" class="form-control p-2" placeholder="Type your message..."></textarea>
    </div>

    <div class="entities-type mb-2">
      {% for entity in default_entities_types %}
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="entities-type"
            value="{{entity.id}}"
            id="{{entity.id}}"
            {% if entity.id == 'text' %} checked{% endif %}
          />
          <label class="form-check-label" for="{{entity.id}}">
            {{entity.label}}
          </label>
        </div>
      {% endfor %}
    </div>

    <input type="button" class="btn btn-primary" value="Send" id="chat-message-submit"/>
    <input type="hidden" value="{{engagement_id|default:''}}" id="chat-engagement-input"/>
  </div>
</div>
{{ room.uuid|json_script:"room_id" }} {% endblock %}
{% block script %}
<script>
  const roomId = JSON.parse(document.getElementById('room_id').textContent);

  const chatSocket = new WebSocket(
    `ws://${window.location.host}/ws/chat/${roomId}/`
  );

  chatSocket.onmessage = function (e) {
    const data = JSON.parse(e.data);
    if (data.message) {
      renderMessage(data);
      scrollToBottom();
    } else {
      alert('The message was empty!');
    }
  };

  chatSocket.onclose = function (e) {
    console.error('Chat socket closed unexpectedly');
  };

  document.querySelector('#chat-message-input').focus();
  document.querySelector('#chat-message-input').onkeyup = function (e) {
    if (e.keyCode === 13) {
      document.querySelector('#chat-message-submit').click();
    }
  };

  document.querySelector('#chat-message-submit').onclick = function (e) {
    const message = $('#chat-message-input').val(),
          engagementId= $('#chat-engagement-input').val(),
          entity = $('input[name="entities-type"]:checked').val(),
          params = {message, roomId, engagementId, entity}

    sendData(params)
  };

  const renderMessage = (data) => {
    switch(data.entity) {
      case "yes-no":
        document.querySelector('#chat-body').innerHTML += yesNoQuestionBox(data);

        if (data.answer) {
          $(`div[id=${data.question_id}]`).css({"display": "none"})
        }

        break;

      case "date-time":
        document.querySelector('#chat-body').innerHTML += dateTimePickerBox(data);

        if (data.answer) {
          $(`div[id=${data.question_id}]`).css({"display": "none"})
        }

        break;

      case "learn-more":
        document.querySelector('#chat-body').innerHTML += learnMoreBox(data);

        if (!data.is_system_message && data.entity == 'learn-more') {
          let selectedOption = data.learn_more_options.find(option => option.id == data.message);

          const value = selectedOption.mesage,
            message = value,
            engagementId= '',
            entity = 'text',
            answer = '',
            params = {message, roomId, engagementId, entity, answer};
  
          sendData(params);
        }

        break;

      default:
        document.querySelector('#chat-body').innerHTML += textMessageBox(data);

        if (data.answer && data.entity !== "learn-more") {
          $(`div[id=${data.question_id}]`).css({"display": "none"});
        }

        break;
    }
  }

  const sendData = (params = {}) => {
    const paramsToString = JSON.stringify({
      message: params.message,
      room_id: params.roomId,
      engagement_id: params.engagementId,
      entity: params.entity,
      ...(params.answer ? {answer: params.answer} : {}),
      ...(params.question_id ? {question_id: params.question_id} : {}),
    })

    chatSocket.send(paramsToString);
    $('#chat-message-input').val("");
  }

  const scrollToBottom = () => {
    let objDiv = document.getElementById("chat-body");
    objDiv.scrollTo({top: objDiv.scrollHeight, behavior: 'smooth'});
  }

  const setDefaultDateTime = () => {
    $("input[name=date-time]").attr("value", defaultDateTime());
  }

  const handleYesNo = () => {
    $('#chat-body').on('click', 'input[type=radio][name=yes-no]', function (event) {
      event.preventDefault();

      const parentEl = $(this).parent(),
        id = parentEl.attr('id'),
        entity = 'text',
        value = $(this).val(),
        message = value,
        question_id = id,
        engagementId= $('#chat-engagement-input').val(),
        answer = value,
        params = {message, roomId, engagementId, entity, answer, question_id};
      
      sendData(params);
    });
  }

  const handleDateTime = () => {
    $('#chat-body').on('change', 'input[type=datetime-local][name=date-time]', function (event) {
      event.preventDefault();
      let dateTimeValue = $(this).val();

      if (dateTimeValue) {
        const value = convertDateTime(dateTimeValue),
          parentEl = $(this).parent().parent(),
          id = parentEl.attr('id'),
          message = value,
          question_id = id
          engagementId= $('#chat-engagement-input').val(),
          entity = 'text',
          answer = value,
          params = {message, roomId, engagementId, entity, answer, question_id};
  
        sendData(params);
      }
  
      scrollToBottom();
    });
  }

  const handleLearnMore = () => {
    $('#chat-body').on('change', 'input[type=checkbox][name=learn-more]', function (event) {
      event.preventDefault();

      const value = $(this).val(),
        parentEl = $(this).parent().parent(),
        id = parentEl.attr('id'),
        message = value,
        question_id = id,
        engagementId= $('#chat-engagement-input').val(),
        entity = 'learn-more',
        answer = value,
        params = {message, roomId, engagementId, entity, answer, question_id};

      sendData(params);
    });
  }

  handleYesNo();
  handleDateTime();
  handleLearnMore();
  scrollToBottom();
  setDefaultDateTime();
</script>
{% endblock %}
