{% extends 'chat/index.html' %}

{% block title %}Welcome | {% endblock %}
{% load custom_filters %}

{% block content %}
<div class="container">
  <div class="hide-scrollbar flex-1 mb-3">
    <div id="chat-body">
      <div class="chat-body-inner">
        {% for m in messages %}
          <div class="message {% if m.engagement.name != 'Machine'%} message-out {%endif%}">
            <p class="username">{{ m.engagement.name }}</p>
            <div class="message-inner">
              <div class="message-body">
                <div class="message-content">
                  <div class="message-text">
                    {% if m.entity == "yes-no" %}
                      {% if not m.answer %}
                        <p class="mb-0 text-capitalize">{{ m.content }}</p>
                        <div class="pt-4 position-relative" id="{{m.id}}">
                          <input
                            type="radio"
                            class="btn-check"
                            id="{{m.id}}-yes"
                            name="yes-no"
                            value="yes"
                            onchange="answerYesNo({{m.id}}, 'yes', {{m.entity}})"
                          >
                          <label class="btn btn-primary" for="{{m.id}}-yes">Yes</label>
                  
                          <input
                            type="radio"
                            class="btn-check"
                            id="{{m.id}}-no"
                            name="yes-no"
                            value="no"
                            onchange="answerYesNo({{m.id}}, 'no', {{m.entity}})"
                          >
                          <label class="btn mx-2 btn-danger" for="{{m.id}}-no">No</label>
                        </div>
                      {% else %}
                        <p class="mb-0 text-capitalize">{{ m.content }}</p>
                      {% endif %}
                    {% endif %}
  
                    {% if m.entity == "date-time" %}
                      {% if not m.answer %}
                        <p class="mb-0 text-capitalize">{{ m.content }}</p>
                        <div class='date position-relative' id="{{m.id}}">
                          <div class="pt-3 d-flex flex-column">
                            <!-- time -->
                            <input
                              class="form-control"
                              type="datetime-local"
                              id="{{m.id}}-time"
                              name="date-time"
                              onkeydown="return false;"
                            >
                            <small id="datetime-help">Choose A Date and Time.</small>
                          </div>
                        </div>
                      {% else %}
                        <p class="mb-0 text-capitalize">{{ m.content }}</p>
                      {% endif %}
                    {% endif %}
  
                    {% if m.entity == "learn-more" %}
                      {% if m.system_message %}
                        <p class="mb-0 text-capitalize">{{ m.content }}</p>
                        <div class='pt-3 position-relative' id="{{m.id}}">
                          <small>Choose One:</small>
                          <div class="d-flex topics flex-column align-items-start">
                            {% for item in learn_more_options %}
                              {% if item.id not in m.answer %}
                                <input
                                  type="checkbox"
                                  class="btn-check"
                                  id="{{m.id}}-{{item.id}}"
                                  name="learn-more"
                                  value="{{item.id}}"
                                >
                                <label
                                  class="btn btn-primary topics-label my-1"
                                  for="{{m.id}}-{{item.id}}"
                                >
                                  <i class="bi bi-check-circle"></i>
                                  <span class="ms-2">
                                    {{item.title}}
                                  </span>
                                </label>
                              {% endif %}
                            {% endfor %}
                          </div>
                        </div>
                      {% else %}
                        <div class='date position-relative' id="{{m.id}}">
                          <div class="d-flex topics flex-column align-items-start">
                            {% for item in learn_more_options %}
                              {% if item.id == m.content %}
                                <input
                                  type="checkbox"
                                  class="btn-check"
                                  id="{{m.id}}-{{item.id}}"
                                  name="learn-more"
                                  value="{{item.id}}"
                                >
                                <label
                                  class="btn btn-outline-primary topics-label my-1"
                                  for="{{m.id}}-{{item.id}}"
                                >
                                  <i class="bi bi-check-circle"></i>
                                  <span class="ms-2">
                                    {{item.title}}
                                  </span>
                                </label>
                              {% endif %}
                            {% endfor %}
                          </div>
                        </div>
                      {% endif %}
                    {% endif %}
  
                    {% if m.entity == "embedded-picture" %}
                      <div id="{{m.id}}">
                        <img name="embedded-picture" width="200" src="{{m.content}}" alt=""/>
                      </div>
                    {% endif %}

                    {% if m.entity == "embedded-video" %}
                      <div id="{{m.id}}">
                        <div class="position-relative">
                          <!-- add `controls` attribute will display video control -->
                          <video
                            class=""
                            id="video-{{m.id}}"
                            src="https://www.w3schools.com/html/mov_bbb.mp4"
                          ></video>
                          <div>
                            <div class="position-absolute top-0 w-100 h-100">
                              <i class="play-btn position-absolute" name="zoom-video" videoId="{{m.id}}">
                                <div
                                  aria-label=""
                                  class=""
                                  role="button"
                                  tabindex="-1"
                                >
                                  <i
                                    data-visualcompletion="css-img"
                                    class=""
                                    style="background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/y4/r/Cpff0EVHLQh.png'); background-position: 0px 0px; background-size: auto; width: 72px; height: 72px; background-repeat: no-repeat; display: inline-block;"
                                  ></i>
                                </div>
                              </i>
                            </div>
                          </div>
                        </div>
                      </div>
                    {% endif %}

                    {% if m.entity == "number-input" %}
                      {% if m.system_message %}
                        <p class="mb-0 text-capitalize">{{ m.content }}</p>
                        {% if not m.answer %}
                          <div class='date position-relative' id="{{m.id}}">
                            <div class="pt-3 d-flex flex-column">
                              <input
                                class="form-control text-center"
                                type="number"
                                inputmode="numeric"
                                name="number-input"
                              >
                            </div>
                          </div>
                        {% endif %}
                      {% else %}
                        <div class='date position-relative' id="{{m.id}}">
                          <div class="d-flex flex-column">
                            <input
                              class="form-control text-center"
                              type="number"
                              inputmode="numeric"
                              name="number-input-answer"
                              readonly
                              value="{{m.content}}"
                            >
                          </div>
                        </div>
                      {% endif %}
                    {% endif %}

                    {% if m.entity == "embedded-hyperlink" %}
                      <div class='position-relative' id="{{m.id}}">
                        {{m.content|hyperlink_template}} 
                      </div>
                    {% endif %}

                    {% if m.entity == "text" %}
                      <p class="mb-1 text-content">{{ m.content }}</p>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="overlay modal" id="overlay">
      <div id="overlayContent" class="overlay-content position-relative">
        <div>
          <div class="position-absolute tool-box">
            <button id="hide-popup" class="btn"><i class="bi bi-x-lg"></i></button>
            <button id="download-image" class="btn"><i class="bi bi-download"></i></button>
          </div>
        </div>
        <img id="imgBig" src="" alt="" class="modal-content"/>
      </div>
    </div>

    <div class="overlay modal" id="overlay-video">
      <div id="overlayVideoContent" class="overlay-content position-relative">
        <div class="position-absolute tool-box">
          <button id="hide-popup-video" class="btn"><i class="bi bi-x-lg"></i></button>
        </div>
        <video
          class="w-100"
          id="big-video"
          controls
          scr=""
        ></video>
      </div>
    </div>
  </div>

  <div class="form-chat">
    <div class="input-group mb-3">
      <textarea id="chat-message-input" class="form-control p-2" placeholder="Type your message..."></textarea>
    </div>

    <div class="entities-type mb-2">
      {% for entity in default_entities_types %}
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="entities-type"
            value="{{entity.id}}"
            id="{{entity.id}}"
            {% if entity.id == 'text' %} checked{% endif %}
          />
          <label class="form-check-label" for="{{entity.id}}">
            {{entity.label}}
          </label>
        </div>
      {% endfor %}
    </div>

    <input type="button" class="btn btn-primary" value="Send" id="chat-message-submit"/>
    <input type="hidden" value="{{engagement_id|default:''}}" id="chat-engagement-input"/>
  </div>
</div>
{{ room.uuid|json_script:"room_id" }} {% endblock %}
{% block script %}
<script>
  const roomId = JSON.parse(document.getElementById('room_id').textContent);

  const chatSocket = new WebSocket(
    `ws://${window.location.host}/ws/chat/${roomId}/`
  );

  chatSocket.onmessage = function (e) {
    const data = JSON.parse(e.data);

    if (data.message) {
      renderMessage(data);
      scrollToBottom();
    } else {
      alert('The message was empty!');
    }
  };

  chatSocket.onclose = function (e) {
    console.error('Chat socket closed unexpectedly');
  };

  document.querySelector('#chat-message-input').focus();
  document.querySelector('#chat-message-input').onkeyup = function (e) {
    if (e.keyCode === 13) {
      document.querySelector('#chat-message-submit').click();
    }
  };

  document.querySelector('#chat-message-submit').onclick = function (e) {
    const message = $('#chat-message-input').val(),
          engagementId= $('#chat-engagement-input').val(),
          entity = $('input[name="entities-type"]:checked').val(),
          params = {message, roomId, engagementId, entity};

    sendData(params);
  };

  const renderMessage = (data) => {
    switch(data.entity) {
      case "yes-no":
        document.querySelector('#chat-body').innerHTML += yesNoQuestionBox(data);

        if (data.answer) {
          $(`div[id=${data.question_id}]`).css({"display": "none"});
        }
        break;

      case "date-time":
        document.querySelector('#chat-body').innerHTML += dateTimePickerBox(data);

        if (data.answer) {
          $(`div[id=${data.question_id}]`).css({"display": "none"});
        }
        break;

      case "learn-more":
        document.querySelector('#chat-body').innerHTML += learnMoreBox(data);
        
        if (data.answer) {
          listAnswer = String(data.answer).split(',') || [];

          let parentEl = $(`div[id=${data.question_id}]`);
          let inputList = parentEl.find("input");
          let labelList = parentEl.find("label")

          // Remove selected option.
          listAnswer.forEach((answer) => {
              inputList.each(function() {
                if ($(this).attr("id") === `${data.question_id}-${answer}`) {
                  selectedLabel = $(this)[0];
                  selectedLabel.remove();
                } 
              });
  
              labelList.each(function() {
                if ($(this).attr("for") === `${data.question_id}-${answer}`) {
                  selectedLabel = $(this)[0];
                  selectedLabel.remove();
                } 
              });
          });

          // Remove the parent if options removed
          parentEl = $(`div[id=${data.question_id}]`);
          if (!parentEl.find("label").length) {
            parentEl.remove();
          }
        }
        break;

      case "embedded-picture":
        document.querySelector('#chat-body').innerHTML += renderEmbeddedPicture(data);
        break;

      case "embedded-video":
        document.querySelector('#chat-body').innerHTML += renderEmbeddedVideo(data);
        break;

      case "number-input":
        document.querySelector('#chat-body').innerHTML += renderNumberInput(data);

        if (data.answer) {
          $(`div[id=${data.question_id}]`).css({"display": "none"});
        }

        break;

      case "embedded-hyperlink":
        document.querySelector('#chat-body').innerHTML += renderEmbeddedHyperlink(data);

        break;
      
      default:
        document.querySelector('#chat-body').innerHTML += textMessageBox(data);

        if (data.answer && data.entity !== "learn-more") {
          $(`div[id=${data.question_id}]`).css({"display": "none"});
        }
        break;
    }

    scrollToBottom();
  }

  const sendData = (params = {}) => {
    const paramsToString = JSON.stringify({
      message: params.message,
      room_id: params.roomId,
      engagement_id: params.engagementId,
      entity: params.entity,
      ...(params.answer ? {answer: params.answer} : {}),
      ...(params.question_id ? {question_id: params.question_id} : {}),
      ...(params.only_view ? {only_view: params.only_view} : {}),
    });

    chatSocket.send(paramsToString);
    $('#chat-message-input').val("");
  }

  const scrollToBottom = () => {
    let objDiv = document.getElementById("chat-body");
    objDiv.scrollTo({top: objDiv.scrollHeight, behavior: 'smooth'});
  }

  const setDefaultDateTime = () => {
    $("input[name=date-time]").attr("value", defaultDateTime());
  }

  const handleYesNo = () => {
    $('#chat-body').on('click', 'input[type=radio][name=yes-no]', function (event) {
      event.preventDefault();
      const engagementId= $('#chat-engagement-input').val();

      if (engagementId) {
        const parentEl = $(this).parent(),
          id = parentEl.attr('id'),
          entity = 'text',
          value = $(this).val(),
          message = value,
          question_id = id,
          answer = value,
          params = {message, roomId, engagementId, entity, answer, question_id};
        
        sendData(params);
      }
    });
  }

  const handleDateTime = () => {
    $('#chat-body').on('change', 'input[type=datetime-local][name=date-time]', function (event) {
      event.preventDefault();

      const dateTimeValue = $(this).val(),
        engagementId= $('#chat-engagement-input').val();

      if (dateTimeValue && engagementId) {
        const value = convertDateTime(dateTimeValue),
          parentEl = $(this).parent().parent(),
          id = parentEl.attr('id'),
          message = value,
          question_id = id
          entity = 'text',
          answer = value,
          params = {message, roomId, engagementId, entity, answer, question_id};
  
        sendData(params);
      }
  
      scrollToBottom();
    });
  }

  const handleLearnMore = () => {
    $('#chat-body').on('change', 'input[type=checkbox][name=learn-more]', function (event) {
      event.preventDefault();

      const engagementId= $('#chat-engagement-input').val();

      if (engagementId) {
        const value = $(this).val(),
          parentEl = $(this).parent().parent(),
          id = parentEl.attr('id'),
          message = value,
          question_id = id,
          entity = 'learn-more',
          answer = value,
          params = {message, roomId, engagementId, entity, answer, question_id};
  
        sendData(params);
      }
    });
  }

  const downloadImage = async (source) => {
    const fileName = source.split('/').pop(),
          el = document.createElement("a");
    
    el.href = source;
    el.download = fileName;
    document.body.appendChild(el);
    el.click();
    el.remove();
  }

  async function downloadImageWithFetch(source) {
    const fileName = source.split("/").pop(),
      el = document.createElement("a");

    const image = await fetch(source);
    const imageBlog = await image.blob();
    const imageUrl = window.URL.createObjectURL(imageBlog);
    saveAs(imageBlog, fileName);
  }

  function downloadFileWithXML(url) {
    const fileName = url.split('/').pop(),
      el = document.createElement("a");
    var xhr = new XMLHttpRequest();
    xhr.open('GET', url, true);
    xhr.responseType = 'blob';
    
    xhr.onload = function(e) {
      if (this.status == 200) {
        var myBlob = this.response;
        var link = document.createElement('a');
        link.href = window.URL.createObjectURL(myBlob);
        link.download = fileName;
        link.click();
      }
    };
    xhr.send();
  }

  async function downloadFileWithBase64(url) {
    getBase64ImageFromUrl(url).then(
      result => {
        const fileName = url.split('/').pop(),
          el = document.createElement("a");
        el.href = result;
        el.download = fileName;
        document.body.appendChild(el);
        el.click();
        el.remove();
      }
    )
  }

  async function getBase64ImageFromUrl(imageUrl) {
    var res = await fetch(imageUrl);
    var blob = await res.blob();
  
    return new Promise((resolve, reject) => {
      var reader  = new FileReader();
      reader.addEventListener("load", function () {
          resolve(reader.result);
      }, false);
  
      reader.onerror = () => {
        return reject(this);
      };
      reader.readAsDataURL(blob);
    })
  }

  const handleEmbeddedPicture = () => {
    $('#chat-body').on('click', 'img[name=embedded-picture]', function (event) {
      $("#imgBig").attr("src",$(this).prop('src'));
      $("#overlay").show();

      // Mark the patient who watched the image
      const engagementId = $('#chat-engagement-input').val(),
        message = " ",
        question_id = $(this).parent().attr("id")
        entity = "embedded-picture",
        only_view = true
        params = {message, roomId, engagementId, entity, question_id, only_view};

      sendData(params);
    });

    $("#hide-popup").click(function(){
      $("#imgBig").attr("src", "");
      $("#overlay").hide();
    });

    $("#download-image").click(function(){
      event.preventDefault();
      const url = $("#imgBig").attr("src");
      downloadImageWithFetch(url);
      $("#overlay").hide();
    });
  }

  const handleEmbeddedVideo = () => {
    $('#chat-body').on('click', 'i[name=zoom-video]', function (event) {
      let videoId = $(this).attr("videoId");
      let videoSrc = $(`#video-${videoId}`).attr("src");
    
      $("#big-video").attr("src",videoSrc);
      $("#overlay-video").show();

      // Mark the patient who watched the video
      const engagementId = $('#chat-engagement-input').val(),
        message = " ",
        question_id = videoId
        entity = "embedded-video",
        only_view = true
        params = {message, roomId, engagementId, entity, question_id, only_view};

      sendData(params);
    });

    $("#hide-popup-video").click(function(){
      $("#big-video").get(0).pause();
      $("#big-video").attr("src", "");
      $("#overlay-video").hide();
    });
  }

  const handleNumberInput = () => {
    $('#chat-body').on('blur', 'input[type=number][name=number-input]', function (event) {
      event.preventDefault();
      const engagementId= $('#chat-engagement-input').val();

      if (engagementId) {
        const value = $(this).val(),
          parentEl = $(this).parent().parent(),
          id = parentEl.attr('id'),
          message = value,
          question_id = id,
          entity = 'number-input',
          answer = value,
          params = {message, roomId, engagementId, entity, answer, question_id};
  
        sendData(params);
      }
    });
  }

  const handleHyperLink = () => {
    $('#chat-body').on('click', 'a[name=hyperlink]', function (event) {
      const engagementId = $('#chat-engagement-input').val(),
        message = " ",
        question_id = $(this).parent().parent().attr("id")
        entity = "embedded-hyperlink",
        only_view = true,
        params = {message, roomId, engagementId, entity, question_id, only_view};

      sendData(params);
    });
  }

  handleYesNo();
  handleDateTime();
  handleLearnMore();
  handleEmbeddedPicture();
  handleEmbeddedVideo();
  handleNumberInput();
  handleHyperLink();
  scrollToBottom();
  setDefaultDateTime();
</script>
{% endblock %}
